
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="col-md-8 offset-md-2">
            <div class="heading mt20 ">
                <h2>Welcome To My Portfolio</h2>
            </div>
            <div class="content mt20 ml20 mb20">
                <div class="about mb20">
                    <h3 class="mb10">About Me</h3>
                    <p>I am a Java Full Stack Developer with Strong Knowledge of SpringBoot framework and Angular as a frontend Tool.</p>
                </div>  
                <div class="techskills">
                    <div class="javaskill">
                    <div class="java">
                        <h4 class="mb10">JAVA</h4>
                        <P>Proficient in Core and Advanced Java concepts with JDk 8 & 11 experience. I have done multiple project in java utilizing the OOps concepts.</P>
                    </div>
                    <div class="javaimg">
                        <img src="assets/java1.png">
                    </div>
                    </div>
                <br>
                    <div class="springskill">
                        <div class="springimg">
                            <img src="assets/spring1.png">
                            
                        </div>
                     <div class="spring">
                        <h4 class="mb10">SpringBoot</h4>
                        <P>Strong Foundation in the spring framework including Spring Core, Spring MVC, SpringBoot.Also have expertise in REST and microservices.</P>
                        </div>    
                    </div>
                <br>
                    <div class="javaskill">
                        <div class="java">
                            <h4 class="mb10">Angular</h4>
                            <P>Expertise in web Development using Angular framework with crisp knowledge of HTML5, CSS3z Javascript and other Angular 13 features</P>
                        </div>
                        <div class="javaimg">
                            <img src="assets/angular.png">
                        </div>
                        </div>

                    </div>
                <br>
                    <div class="springskill">
                        <div class="springimg">
                            <img src="assets/mysql.png">
                            
                        </div>
                        <div class="spring">
                            <h4 class="mb10">MySQL</h4>
                            <P>proficient in Database Management System and its tools. have a good knowledge of MySQl and Sql queries. <br>Also hands-on experience of using database with Jva JDBc and hibernate</P>
                        </div>    
                    </div>
             </div>
        </div>
    </div>
</div>
    