<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyPortfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <!-- <link rel="stylesheet" href="styles.css"> -->

</head>
<body>
  <div class="container">
<div class="main">
<div class="infoContainer">
<div class="devinfo">
  <div class="hello">Hello, <span>I am</span></div>
  <div class="name">Mayak Raj</div>
  <div class="about">Java Full Stack Developer</div>
  <div class="moreabout">Interested To seek and maintain position in a project
    that offers professional challenges utilizing
    interpersonal skills and
    problem-solving skills.</div>
  <div class="buttons">
    <button class="btn"><a href="assets/cv.pdf"  target="blank">Download CV</a></button>
    <button class="btn" routerLink="/contact">Contact</button>
  </div>
</div>
  <div class="devPic"><img src="assets/mypic.jpg" alt="mypic" ></div>
</div>
</div>
</div>
</body>
</html>
